html{
    scroll-behavior: smooth;
}
.home {
    background: linear-gradient(to bottom, #ffffff 45%, #E5D5CC 0%);
    height: 100vh;
    width: 100vw;
}
.square {
    height: 500px;
    width: 900px;
    background-color: #F7F1E9;
    top: 50%;
    left: 50%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: -200px;
}
.image {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}
.p1-home {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: black;
    font-size: 50px;
}
.p2-home {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.about{
    background: linear-gradient(to right, #ffffff 70%, #E5D5CC 0%);
    height: 100vh;
    width: 100vw;
}
.p1-about {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: left;
    color: black;
    padding-left: 150px;
    padding-top: 70px;
}
.p2-about {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 20px;
    color: black;
    padding-left: 300px;
}
.p3-about {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: right;
    color: black;
    padding-right: 150px;
}
.p4-about {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-size: 20px;
    color: black;
    padding-right: 150px;
}
.skill{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}
.number{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}
.p1-skill {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    color: black;
    padding-top: 70px;
}
.p2-skill {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}
.experience {
    background: linear-gradient(to right, #E5D5CC 30%, #ffffff 0%);
    height: 120vh;
    width: 100vw;
}
.p-exp{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
}
.p1-exp{
    text-align: right;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    color: black;
    padding-right: 150px;
    padding-top: 70px;
}
.p2-exp{
    text-align: left;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: black;
    padding-left: 150px;
}
.p3-exp{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    padding-left: 150px;
}
.p4-exp{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: black;
    padding-left: 150px;
}

.edu{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}
.p-edu{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    color: black;
    padding-top: 70px;
}
.center-edu{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
td{
    border-bottom: 3px solid #E5D5CC;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: 20px;
}
th{
    border-bottom: 5px solid #734631;
    width: 300px;
    font-family: 'DM Serif Display', serif;
    color: black;
    text-align: center;
    font-size: 25px;
}
.contact{
    background-color: #E5D5CC;
    height: 80vh;
    width: 100vw;
}
.p-con{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    color: black;
}
.p1-con{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    color: black;
}
.logo{
    display: block;
    width: 70px;
    height: 70px;
}
@media (max-width:768px){
    .home{
        width: 120vw;
        height: 120vh;
        background: linear-gradient(to bottom, #ffffff 30%, #E5D5CC 0%);
    }
    .square{
        height: 675px;
        width: 675px;
        padding-top: 70px;
    }
    .image{
        margin-top: 100px;
    }
    .p1-home{
        font-size: 40px;
    }
    .about{
        width:120vw;
        height: 120vh;
        padding-top: 200px;
    }
    .p1-about{
        padding-left: 50px;
        font-size: 45px;
    }
    .p2-about{
        padding-left: 70px;
        font-size: 20px;
    }
    .p3-about{
        padding-top: 100px;
        padding-right: 50px;
        font-size: 45px;
    }
    .p4-about{
        padding-right: 50px;
        font-size: 20px;
    }
    .skill, .edu, .experience{
        width: 120vw;
        height: 120vh;
    }
    .p1-skill{
        padding-top: 400px;
        font-size: 45px;
    }
    .p-edu{
        padding-top: 300px;
        font-size: 45px;
    }
    .p1-exp{
        padding-top: 200px;
        font-size: 45px;
    }
    .p2-exp{
        font-size: 25px;
        padding-left: 35px;
    }
    .p3-exp, .p4-exp{
        font-size: 20px;
        padding-left: 35px;
    }
    .contact{
        width: 120vw;
        height: 80vh;
    }
    .p-con{
        padding-top: 200px;
    }
}
@media (max-width: 420px){
    .home{
        width: 120vw;
        height: 100vh;
        background: linear-gradient(to bottom, #ffffff 30%, #E5D5CC 0%);
    }
    .square{
        width: 400px;
        height: 400px;
        padding-top: 0px;
    }
    .image{
        display: block;
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .about, .skill, .edu, .experience{
        width: 120vw;
        height: 120vh;
    }
    .contact{
        width: 120vw;
        height: 80vh;
    }
    .p1-about{
        font-size: 30px;
        padding-left: 40px;
        margin-top: -100px;
        padding-top: 20px;
    }
    .p2-about{
        font-size: 15px;
        padding-left: 65px;
    }
    .p3-about{
        font-size: 30px;
        padding-right: 40px;
    }
    .p4-about{
        font-size: 15px;
        padding-right: 40px;
    }
    .p1-skill{
        font-size: 30px;
        padding-top: 200px;
    }
    .p-edu{
        font-size: 30px;
        padding-top: 150px;
    }
    .p1-exp{
        font-size: 30px;
        padding-right: 40px;
        padding-top: 70px;
    }
    .p2-exp{
        font-size: 20px;
        padding-left: 15px;
    }
    .p3-exp, .p4-exp{
        font-size: 15px;
        padding-left: 15px;
    }
    .p-con{
        padding-top: 70px;
    }
}